*,
*::before, 
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 62.5%;
}

body{
    background: #000;
}

.loading{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.percent{
    color: #999;
    font-size: 10rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
}

.theText{
    position: absolute;
    bottom: 4px;
    left: 16rem;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 21px;
    display: none;
}

.text{
    animation: blink .7s ease-in-out .1s;
}

@keyframes blink {
    0%{
        opacity: 1;
    }

    50%{
        opacity: .2;
    }

    100%{
        opacity: 1;
    }
}

.progress-bar{
    width: 40.6rem;
    height: 2.1rem;
    background: #000;
    border-radius: 13px;
}

.progress{
    width: 20rem;
    height: 1.5rem;
    background: #a12b2b;
    border-radius: 13px;
    padding: 3px;
    box-sizing: border-box;
}