*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
   max-width: 1000px;
}

.theContainer{
    display: flex;
    justify-content: center;
    background: #777;
    height: 100vh;
}

.input-container{
   margin: 2rem 0;
}

.display{
   font-size: 2rem;
   border-radius: 5px;
   padding: 0.25rem;
}

.body-container{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.option-container{
    background: rgb(250, 166, 11);
    padding: 1.2rem;
    color: white;
    width: 100%;
    border-radius: 50%;
    transition: all 0.3s;
}

.option-container:hover{
    background: rgb(225, 148, 6);
}

.option{
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.submit-btn{
   padding: 1rem;
   background: rgb(234, 61, 61);
   border: none;
   border-radius: 5px;
   font-size: 1.5rem;
   width: 100%;
   color: white;
   cursor: pointer;
   transition: all 0.3s;
}

.submit-btn:hover{
    background: rgb(208, 11, 11);
}