window {
    background-color: #f5f5f5;
}

button {
    background-color: #444;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
}

button:hover {
    background-color: #555;
}

label {
    font-size: 14px;
    color: white;
}

#permissions_label {
    background-color: #444;  
    color: white;             
    padding: 10px;           
}