body{
   margin: 0;
   display: flex;
   justify-content: center;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: grey;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

#keys{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 10px;
   padding: 25px;
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background: grey;
    color: white;
}

.operator-btn{
    background-color: orange;
}