.slider{
    position: relative;
    width: 100%;
    margin:  auto;
    overflow: hidden;
}

.slider img{
    width: 800px;
    display: none;
}

img.displaySlide{
    display: block;
}