* {
  font-size: 62.5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  --border-radius: 0.5rem;
  --font-size: 2rem;
}

.flex {
  display: flex;
  justify-content: center;
}

.header-container {
  margin: 1rem 0 3rem 0;
}

.header {
  background: dodgerblue;
  font-size: 4rem;
  color: white;
  padding: 2rem;
  border-radius: 0.5rem;
}

.to-do-body {
  background: grey;
  color: white;
  display: inline-flex;
  gap: 1rem;
  padding: 2rem;
  border-radius: 0.5rem;
}

.to-do-count {
  font-size: var(--font-size);
}

.to-do-act {
  font-size: var(--font-size);
}

.to-do-add {
  margin-bottom: 3rem;
  gap: 1rem;
}

.to-do-input {
  font-size: 2rem;
  padding: 1rem;
  border-radius: var(--border-radius);
}

.to-do-btn {
  padding: 0 2rem;
}

.to-do-clear {
  padding: 0 1rem;
}

.btn {
  font-size: var(--font-size);
  cursor: pointer;
  border-radius: var(--border-radius);
  /* text-decoration: line-through; */
}

.to-do-icon {
  position: relative;
  bottom: -23px;
  display: none;
}

.to-do-done {
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.to-do-container {
  display: grid;
  justify-content: center;
}

.to-do-subcontainer {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 2rem;
}

.msg-container{
  display: none;
  justify-content: center;
  margin-top: 1rem;
}

.msg{
  background: red;
  width: fit-content;
  font-size: 3rem;
  padding: 1.5rem;
  border-radius: var(--border-radius);
}

.message{
  color: white;
}