
.list-category{
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
    border: 3px solid;
    border-radius: 5px;
    background-color: aqua;
}

.list-items li{
    font-size: 2em;
    list-style: none;
    color: #333;
    text-align: center;
    margin: 0;
}

.list-items li:hover{
    color: #555;
    cursor: pointer;
}