<div class="nav-up">
    <nav >
       <ol class="nav-up-ol container">
           <li class="nav-up-li"> <a class="nav-up-link" href="https://upcloud.com/careers"> Now hiring! </a> </li>
           <li class="nav-up-li"> <a class="nav-up-link" href="https://upcloud.com/resources/docs"> Documentation </a> </li>
           <li class="nav-up-li"> <a class="nav-up-link" href="https://upcloud.com/resources/faq"> FAQ </a> </li>
           <li class="nav-up-li"> <a class="nav-up-link" href="https://developers.upcloud.com/1.3/"> API <span class="bg-arrow_top_right"></span> </a> </li>
           <li class="nav-up-li"> <a class="nav-up-link" href="https://upcloud.com/contact"> Customer Support </a> </li>
       </ol>
    </nav>
</div>
