<div class="container-background">
    <div class="block-container container">
        <div class="blocks-heading">
            <p class="block-p">Compute products</p>
            <h2 class="block-h2">Running applications and services</h2>
        </div>
        <div class="blocks-h3">
            <h3 class="blocks-h3-1"><a class="block-h3-a1" href="#">Cloud Servers</a></h3>
            <h3 class="blocks-h3-2"><a class="block-h3-a2" href="#">Private Cloud</a></h3>
            <h3 class="blocks-h3-3"><a class="block-h3-a3" href="#">Managed Databases</a></h3>
        </div>
        
        <div class="column center-container">
            <div class="column-right center-right">
                <img class="img img-center" src="../images/cloud-servers.png" alt="cloud servers">
            </div>
            <div class="column-left center-left">
            <h3 class="center-h3">Cloud Servers</h3>
            <p class="center-p">Our Cloud Servers offer high-performance and resilient cloud with no upfront costs or commitments required. Create new server instances in seconds and scale existing resources with minimal downtime, our public cloud has you covered.</p>
            <p class="center-p">Get started quick and easy with the resources you need, then scale up in just a couple of clicks as your business grows. No need to overprovision services with unnecessary capacity, flexibility comes as standard.</p>
                <a class="center-a" href="https://upcloud.com/products/cloud-servers">Cloud Servers <span class="bg-arrow_right_thin"></span></a>
            </div>
        </div>
    </div>
</div>