<div class="block-closer-container">
    <div class="container block-closer">
        <div class="closer-1">
            <h3 class="block-closer-h3">Take to the next level</h3>
            <p class="block-closer-p">Level up the performance of your cloud services by deploying on a state of the art cloud infrastructure.</p>
        </div>
        <div class="block-link closer-2">
            <p class="closer-link-p-1"> <a class="block-link-1 closer-link-1" href="https://bit.ly/3Kx8Np6">Get started today! </a></p>
            <p class="closer-link-p-2"> <a class="block-link-2 closer-link-2" href="https://upcloud.com/contact#sales">Contact our Sales </a></p>
                </div>
    </div>
</div>