<div class="case-container">
    <div class="container case-container-1">
        <div class="case-div-h2">
            <h2 class="case-h2">Case studies</h2>
        </div>
        <div class="case-div">
                <a class="case-div-a1" href="https://upcloud.com/case-studies/hosted-power">
                    <div class="case-div-1">
                        <div class="case-div-1-img"><img class="img-.fi img-case" src="../images/helpotkotisivut.fi.png" alt="Helpotkotisivut.fi"></div>
                                <div class="case-div-1-text">
                                        <h3 class="case-div-h3-1">How Helpotkotisivut.fi created a scalable hosting environment for WordPress and WooCommerce</h3>
                                        <p class="case-div-p-1">Helpotkotisivut.fi provides robust and user-friendly WordPress website hosting and web design service as a turnkey solution.</p>
                                </div>
                                   </div>
                </a>
                <a class="case-div-a2" href="https://upcloud.com/case-studies/hosted-power">
                    <div class="case-div-2">
                        <div class="case-div-2-img"><img class="img-hosted img-case" src="../images/hosted-power.png" alt="Hosted Power"></div>
                        <div class="case-div-2-text">
                            <h3 class="case-div-h3-2">How Hosted Power leaps beyond the conventionally possible</h3>
                            <p class="case-div-p-2">One thing we've noticed in particular is that some websites and applications are sometimes already up to 100% faster just by moving onto UpCloud.</p>
                        </div>
                    </div>
                </a>
        </div>
        <div class="case-footer">
            <div class="case-arrow-img">
                <img class="case-arrow-1" src="../../icons/arrow-left_.png">
                <img class="case-arrow-2" src="../../icons/arrow-right_22.png">
            </div>
            <div>
                <a class="case-a" href="https://upcloud.com/case-studies">See more case studies <img class="img-case-a" src="../../icons/arrow-right-thin-1.png"></a>
            </div>
        </div>
    </div>
</div>