<div class="container-background">
    <div class="block-container container">
        <div class="blocks-heading">
            <p class="block-p">Compute products</p>
            <h2 class="block-h2">Running applications and services</h2>
        </div>

            <div class="blocks-h3">
                <div class="blocks-div block-div-1 active blocks-div-p blocks-div-1-p blocks-heading-div-1">
                    <p class="blocks-h3-div blocks-h3-2">Cloud Servers</p>
                </div>
                <div class="blocks-div block-div-2 blocks-div-p blocks-div-2-p blocks-heading-div-1">
                    <p class="blocks-h3-div blocks-h3-2">Private Cloud</p>
                </div>
                <div class="blocks-div block-div-3 blocks-div-p blocks-div-3-p blocks-heading-div-1">
                    <p class="blocks-h3-div blocks-h3-3">Managed Databases</p>
                </div>
            </div>

        <div class="column center-container">
            <div class="column-right center-right">
                <img class="img img-center img-center-1" src="../images/cloud-servers.png" alt="cloud servers">
            </div>
            <div class="column-left center-left center-div">
            <h3 class="center-h3 center-h3-1">Cloud Servers</h3>
            <p class="center-p center-p-1 center-text-1">Our Cloud Servers offer high-performance and resilient cloud with no upfront costs or commitments required. Create new server instances in seconds and scale existing resources with minimal downtime, our public cloud has you covered.</p>
            <p class="center-p center-p-2 center-text-2">Get started quick and easy with the resources you need, then scale up in just a couple of clicks as your business grows. No need to overprovision services with unnecessary capacity, flexibility comes as standard.</p>
            <p class="center-p center-p-3 center-text-3"> </p>
                <a class="center-a center-a-1" href="https://upcloud.com/products/cloud-servers">
                <span class="center-text center-p-text-1">Cloud Servers </span> <span class="bg-arrow_right_thin"></span></a>
            </div>
        </div>
    </div>
</div>

<div class="container-background-1">
    <div class="block-container container">
        <div class="blocks-heading">
            <p class="block-p">Storage products</p>
            <h2 class="block-h2">Safe storage for business critical data</h2>
        </div>

            <div class="blocks-h3">
                <div class="blocks-div block-div-1 active-1 blocks-div-p-header blocks-div-p-1 blocks-heading-div-1">
                    <p class="blocks-h3-div blocks-h3-2">Block Storage</p>
                </div>
                <div class="blocks-div block-div-2 blocks-div-p-header blocks-div-p-2 blocks-heading-div-1">
                    <p class="blocks-h3-div blocks-h3-2">Object Storage</p>
                </div>
                <div class="blocks-div block-div-3 blocks-div-p-header blocks-div-p-3 blocks-heading-div-1">
                    <p class="blocks-h3-div blocks-h3-3">Simple Backup</p>
                </div>
            </div>

        <div class="column center-container">
            <div class="column-right center-right">
                <img class="img img-center img-center-2" src="../images/block-storage.png" alt="block storage">
            </div>
            <div class="column-left center-left center-div">
            <h3 class="center-h3 center-h3-2">Block Storage</h3>
            <p class="center-p center-p-1 center-1-text">Block storage is our defacto cloud storage solution with the options to choose from our home-grown high-performance MaxIOPS technology and high-capacity HDD devices. Both are available on-demand basis with up to 8 storage devices per Cloud Server. </p>
            <p class="center-p center-p-2 center-2-text">Highly available – We developed our storage solutions to not only be highly performant but also highly reliable. Performance means nothing without reliability!</p>
            <p class="center-p center-p-3 center-3-text"> Our Block storage runs on a dedicated backend separately from the computational hosts. This way your Cloud Servers can be automatically restarted on another host should the compute backend experience failure.</p>
                <a class="center-a center-a-2" href="https://upcloud.com/products/block-storage">
                <span class="center-text center-p-text-2"> Block Storage </span> <span class="bg-arrow_right_thin"></span></a>
            </div>
        </div>
    </div>
</div>

<div class="container-background">
    <div class="block-container container">
        <div class="blocks-heading">
            <p class="block-p">Networking products</p>
            <h2 class="block-h2">Connecting and delivering cloud services</h2>
        </div>

            <div class="blocks-h3-2 blocks-h3 blocks-h3-div-p">
                <div class="blocks-div block-div-1 active blocks-div-p blocks-div-1-p-header blocks-div-p-header-1 blocks-heading-div-2">
                    <p class="blocks-h3-div blocks-h3-2 blocks-h3-div-1">Managed Load Balancer</p>
                </div>
                <div class="blocks-div block-div-2 blocks-div-p blocks-div-2-p-header blocks-div-p-header-1 blocks-heading-div-2">
                    <p class="blocks-h3-div blocks-h3-2 blocks-h3-div-1">Network Transfer Pool</p>
                </div>
                <div class="blocks-div block-div-3 blocks-div-p blocks-div-3-p-header blocks-div-p-header-1 blocks-heading-div-2">
                    <p class="blocks-h3-div blocks-h3-3 blocks-h3-div-1">Software Defined Networking</p>
                </div>
            </div>

        <div class="column center-container">
            <div class="column-right center-right">
                <img class="img img-center img-center-3" src="../images/managed-load-balancer.png" alt="managed load balancer">
            </div>
            <div class="column-left center-left center-div">
            <h3 class="center-h3 center-h3-3"> Managed Load Balancer</h3>
            <p class="center-p center-p-1 center-text-p-1">Looking to diversify your services for even better redundancy? Look no further than the UpCloud Mananged Load Balancer! Add professional-grade load balancing solution to any of your cloud services quickly and easily, secured by free SSL certificates.</p>
            <p class="center-p center-p-2 center-text-p-2">Load Balancer is built on our true and trusted infrastructure. Service critical applications can improve resilience with the two-node Production plan.</p>
            <p class="center-p center-p-3 center-text-p-3">Load Balancer benefits from our Network Transfer Pool allowing you to forget about data transfer costs and focus on developing your applications. </p>
                <a class="center-a center-a-3 " href="https://upcloud.com/products/managed-load-balancer">
                <span class="center-text center-p-text-3"> Managed Load Balancer </span> <span class="bg-arrow_right_thin"></span></a>
            </div>
        </div>
    </div>
</div>
<script src="../src/center-text-1.js"></script>
<script src="../src/center-text-2.js"></script>
<script src="../src/change-text-center-3.js"></script>
<script src="../src/center-text-1.js"></script>
<script src="../src/center-text-2.js"></script>
<script src="../src/center-text-3.js"></script>