<div class="footer-container-1">
    <div class="footer-container container">
        <div class="footer-div-1">
            <ul class="footer-div-ul">
            <a class="footer-text footer-text-heading" href="https://upcloud.com/solutions">
                <h4 class="footer-h4">Solutions</h4>
            </a>
                <a class="footer-text" href="https://upcloud.com/solutions/digital-agencies">
                    <li class="footer-text-p">Digital agencies</li>
                </a>
                <a class="footer-text" href="https://upcloud.com/solutions/ecommerce">
                    <li class="footer-text-p">eCommerce</li>
                </a>
                <a class="footer-text" href="https://upcloud.com/solutions/hosting-providers">
                    <li class="footer-text-p">Hosting providers</li>
                </a>
                <a class="footer-text" href="https://upcloud.com/solutions/software-development">
                    <li class="footer-text-p">Software and Platforms</li>
                </a>
            </ul>
        </div>
        <div class="footer-div-2">
            <ul class="footer-div-ul">
            <a class="footer-text footer-text-heading" href="https://upcloud.com/products">
                <h4 class="footer-h4">Products</h4>
            </a>
                <a class="footer-text" href="https://upcloud.com/products/cloud-servers">
                    <li class="footer-text-p">Cloud servers</li>
                </a>
             <a class="footer-text" href="https://upcloud.com/products/private-cloud">
            <li class="footer-text-p">Private cloud</li>
              </a>
              <a class="footer-text" href="https://upcloud.com/products/managed-databases">
                  <li class="footer-text-p">Managed Databases</li>
              </a>
              <a class="footer-text" href="https://upcloud.com/products/block-storage">
                  <li class="footer-text-p">Block Storage</li>
              </a>
              <a class="footer-text" href="https://upcloud.com/products/object-storage">
                  <li class="footer-text-p">Object Storage</li>
              </a>
              <a class="footer-text" href="https://upcloud.com/products/simple-backup">
                  <li class="footer-text-p">Simple Backup</li>
              </a>
              <a class="footer-text" href="https://upcloud.com/products/managed-load-balancer">
                  <li class="footer-text-p">Managed Load Balancer</li>
              </a>
              <a class="footer-text" href="https://upcloud.com/products/network-transfer-pool">
                  <li class="footer-text-p">Network Transfer Pool</li>
              </a>
              <a class="footer-text footer-text-software" href="https://upcloud.com/products/software-defined-networking">
                  <li class="footer-text-p">Software Defined Networking</li>
              </a>
              <a class="footer-text" href="https://upcloud.com/pricing">
                  <li class="footer-text-p">Pricing</li>
              </a>
            </ul>
        </div>
        <div class="footer-div-3">
            <ul class="footer-div-ul">
            <a class="footer-text footer-text-heading" href="https://upcloud.com/insights">
                <h4 class="footer-h4">Insights</h4>
            </a>
                <a class="footer-text" href="https://upcloud.com/blog">
                    <li class="footer-text-p">Blog</li>
                </a>
                <a class="footer-text" href="https://upcloud.com/case-studies">
                    <li class="footer-text-p">Case studies</li>
                </a>
                <a class="footer-text" href="https://upcloud.com/events">
                    <li class="footer-text-p">Events</li>
                </a>
            </ul>
        </div>
        <div class="footer-div-4">
            <ul class="footer-div-ul">
            <a class="footer-text footer-text-heading" href="https://upcloud.com/resources">
                <h4 class="footer-h4">Resources</h4>
            </a>
                <a class="footer-text" href="https://upcloud.com/resources/docs">
                    <li class="footer-text-p">Documentation</li>
                </a>
                <a class="footer-text" href="https://upcloud.com/resources/tutorials">
                    <li class="footer-text-p">Tutorials</li>
                </a>
                <a class="footer-text" href="https://upcloud.com/resources/tools">
                    <li class="footer-text-p">Tools</li>
                </a>
                <a class="footer-text" href="https://upcloud.com/resources/faq">
                    <li class="footer-text-p">FAQ</li>
                </a>
                <a class="footer-text" href="https://developers.upcloud.com/1.3/">
                    <li class="footer-text-p">API</li>
                </a>
                <a class="footer-text" href="https://bit.ly/3cHEwaq">
                    <li class="footer-text-p">System status</li>
                </a>
            </ul>
        </div>
        <div class="footer-div-5">
            <ul class="footer-div-ul">
                <a class="footer-text footer-text-heading" href="https://upcloud.com/about">
                    <h4 class="footer-h4">Company</h4>
                </a>
                <a class="footer-text" href="https://upcloud.com/about">
                    <li class="footer-text-p">About us</li>
                </a>
                <a class="footer-text" href="https://upcloud.com/contact">
                    <li class="footer-text-p">Contact us</li>
                </a>
                <a class="footer-text" href="https://upcloud.com/careers">
                    <li class="footer-text-p">Careers</li>
                </a>
                <a class="footer-text" href="https://upcloud.com/data-centres">
                    <li class="footer-text-p">Data Centres</li>
                </a>
                <a class="footer-text" href="https://upcloud.com/media-centre">
                    <li class="footer-text-p">Media Centre</li>
                </a>
                <a class="footer-text" href="https://upcloud.com/partners">
                    <li class="footer-text-p">Partners</li>
                </a>
            </ul>
        </div>
    </div>
</div>