<div class="footer-down-container">
    <div class="footer-down container">
        <div class="footer-down-div-1">
            <p class="footer-down-p footer-down-p-1">UpCloud Ltd 2022. All rights reserved.</p>
            <a class="footer-down-anchor footer-down-p-2" href="https://upcloud.com/terms-of-service">
                <p class="footer-down-p">Terms of service</p>
            </a>
            <a class="footer-down-anchor footer-down-p-3" href="https://upcloud.com/privacy-policy">
                <p class="footer-down-p">Privacy Policy</p>
            </a>
        </div>
        <div class="footer-down-div-img">
            <a class="footer-down-github" href="https://github.com/UpCloudLtd"><img src="../../icons/github-1.png"></a>
            <a class="footer-down-fb" href="https://www.facebook.com/UpCloudLtd"><img src="../../icons/facebook-1.png"></a>
            <a class="footer-down-ig" href="https://www.instagram.com/upcloud/"><img src="../../icons/instagram-1.png"></a>
            <a class="footer-down-linkedin" href="https://www.linkedin.com/company/upcloud/"><img src="../../icons/linkedin-1.png"></a>
            <a class="footer-down-twitter" href="https://twitter.com/upcloud"><img src="../../icons/twitter-1.png"></a>
            <a class="footer-down-yt" href="https://www.youtube.com/channel/UCkIkxF5pBTBLYgYHXDIUUuw"><img src="../../icons/youtube-1.png"></a>
        </div>
    </div>
</div>