<div class="grid">
    <div class="grid-1">
        <img src="../../icons/cloud-check-outline.png">
        <h3 class="grid-heading">Modern cloud infrastructure</h3>
        <p class="grid-p">UpCloud cloud products and services are built on the latest enterprise-grade data centre hardware. This ensures the highest grade of reliability across the equipment in all of our data centres.</p>
    </div>
    <div class="grid-2">
        <img src="../../icons/connection.png">
        <h3 class="grid-heading">Redundancy reassured</h3>
        <p class="grid-p">Multiple redundancies eliminate any single-point-of-failure with capacity to mitigate issues following failure or attack with automated restarts to recover with minimal interruption.</p>
    </div>
    <div class="grid-3">
        <img src="../../icons/check-decagram-outline.png">
        <h3 class="grid-heading">100% Service Level Agreement</h3>
        <p class="grid-p">We trust our cloud infrastructure to weather faults and issues. So much so that we give you 100% uptime SLA with a 50x payback for any downtime over 5 minutes.</p>
    </div>
    </div>