<div class="container-background">
    <div class="header container">
        <div class="header-left">
            <div>
                <h1 class="header-h1">UpCloud Products</h1>
                <p class="header-text header-text-1">Experience our next generation, faster-than-SSD Cloud Servers with a 100% uptime SLA.</p>
                <p class="header-text header-text-2">With our easy-to-use control panel and API you can spend more time on your business and less time on managing your cloud.</p>
            </div>
            <div class="header-links block-link">
                <p> <a class="header-p-1 block-link-1" href="https://upcloud.com/pricing">See our pricing </a></p>
                <p> <a class="header-p-2 block-link-2" href="https://upcloud.com/contact#sales">Contact our Sales </a></p>
                    </div>
        </div>
                <div class="header-right"><img class="block-link-img" src="../images/upcloud-logo-blue.png"></div>
    </div>
</div>