
<div class="nav container container">
    <nav>
        <div class="nav-div-menu">
            <img class="nav-logo" src="../images/logo2x.png" alt="UpCloud Logo">
                    <div class="nav-div-btn">
                        <button class="nav-btn nav-btn-1">Login <img class="nav-img" src="../../icons/arrow-right-thin-2.png"></button>
                        <button class="nav-btn nav-btn-2">Get started</button>
                    <div class="nav-div-menu-bar">
                        <div class="menu-icon">
                            <div class="menu-bar bar1 "></div>
                            <div class="menu-bar bar2"></div>
                            <div class="menu-bar bar3"></div>
                        </div>
                        <span class="nav-menu-2">
                            <p class="nav-toggler-p">Open main menu </p>
                            </span>
                        </div>
                    </div>
        </div>
    <ul class="nav-bar-div-ul nav-bar-div-expanded nav-bar-sidebar">
        <li class="nav-bar-div-li">
            <a class="nav-bar-a solutions-btn" href="#">Solutions
            <img class="nav-bar-image-text navFirstImg" src="../../icons/chevron-down.png">
            </a>
            <ul class="solutions-show nav-bar-div-ul nav-bar-ul nav-bar-div-expanded nav-bar-li nav-bar-li-2 nav-li-solutions">
                <li class="nav-div-li"><a class="nav-bar-a-first" href="#">Solutions</a></li>
                <li class="nav-div-li"><a class="nav-bar-a nav-div-a" href="#">Digital Agencies</a></li>
                <li class="nav-div-li"><a class="nav-bar-a nav-div-a" href="#">eCommerce</a></li>
                <li class="nav-div-li"><a class="nav-bar-a nav-div-a" href="#">Hosting Providers</a></li>
                <li class="nav-div-li"><a class="nav-bar-a nav-div-a" href="#">Software and Platforms</a></li>
            </ul>
        </li>
    
        <li class="nav-bar-div-li nav-bar-products">
            <a href="#" class="products-btn nav-bar-a nav-bar-a-2">Products
                <img class="navSecondImg nav-bar-image-text" src="../../icons/chevron-down.png">
            </a>
        <ul class="products-show-1 div-expanded nav-bar-li nav-bar-li-3 nav-li-products">
            <ul class="nav-bar-div-ul nav-bar-ul products-show-2 nav-bar-div-expanded nav-bar-li nav-bar-li-4">
                <li class="nav-div-li"><a class="nav-bar-a-first" href="#">Compute</a></li>
                <li class="nav-div-li"><a class="nav-bar-a nav-div-a" href="#">Cloud Servers</a></li>
                <li class="nav-div-li"><a class="nav-bar-a nav-div-a" href="#">Private Cloud</a></li>
                <li class="nav-div-li"><a class="nav-bar-a nav-div-a" href="#">Managed Databases</a></li>
            </ul>
            <ul class="nav-bar-div-ul nav-bar-ul products-show-3 nav-bar-div-expanded nav-bar-li nav-bar-li-4">
                <li class="nav-div-li"><a class="nav-bar-a-first" href="#">Storage</a></li>
                <li class="nav-div-li"><a class="nav-bar-a nav-div-a" href="#">Block Storage</a></li>
                <li class="nav-div-li"><a class="nav-bar-a nav-div-a" href="#">Object Storage</a></li>
                <li class="nav-div-li"><a class="nav-bar-a nav-div-a" href="#">Simple Backup</a></li>
            </ul>
            <ul class="nav-bar-div-ul nav-bar-ul products-show-4 nav-bar-div-expanded nav-bar-li nav-bar-li-4">
                <li class="nav-div-li"><a class="nav-bar-a-first" href="#">Networking</a></li>
                <li class="nav-div-li"><a class="nav-bar-a nav-div-a" href="#">Managed Load Balancer</a></li>
                <li class="nav-div-li"><a class="nav-bar-a nav-div-a" href="#">Network Transfer Pool</a></li>
                <li class="nav-div-li"><a class="nav-bar-a nav-div-a" href="#">Software Defined Networking</a></li>
            </ul>
            </ul>
        </li>
    
    <li class="nav-bar-div-li nav-bar-pricing"><a class="nav-bar-a" href="#">Pricing</a></li>
    <li class="nav-bar-div-li nav-bar-insights">
        <a class="nav-bar-a insights-btn" href="#">Insights
            <img class="navThirdImg nav-bar-image-text" src="../../icons/chevron-down.png">
            </a>
            <ul class="insights-show nav-bar-div-ul nav-bar-ul nav-bar-div-expanded nav-bar-li nav-bar-li-2">
                <li class="nav-div-li"><a class="nav-bar-a-first" href="#">Insights </a></li>
                <li class="nav-div-li"><a class="nav-bar-a nav-div-a" href="#">Blog</a></li>
                <li class="nav-div-li"><a class="nav-bar-a nav-div-a" href="#">Case Studies</a></li>
                <li class="nav-div-li"><a class="nav-bar-a nav-div-a" href="#">Events</a></li>
                <li class="nav-div-li"><a class="nav-bar-a nav-div-a" href="#">Newsletter</a></li>
            </ul>
    </li>
    
    <li class="nav-bar-div-li nav-bar-resources">
        <a class="nav-bar-a resources-btn" href="#">Resources
            <img class="navForthImg nav-bar-image-text" src="../../icons/chevron-down.png">
        </a>
        <ul class="resources-show nav-bar-div-ul nav-bar-ul nav-bar-div-expanded nav-bar-li nav-bar-li-2">
            <li class="nav-div-li"><a class="nav-bar-a-first" href="#">Resources</a></li>
            <li class="nav-div-li"><a class="nav-bar-a nav-div-a" href="#">Documentation</a></li>
            <li class="nav-div-li"><a class="nav-bar-a nav-div-a" href="#">Tutorials</a></li>
            <li class="nav-div-li"><a class="nav-bar-a nav-div-a" href="#">Tools</a></li>
            <li class="nav-div-li"><a class="nav-bar-a nav-div-a" href="#">FAQ</a></li>
            <li class="nav-div-li"><a class="nav-bar-a nav-div-a" href="#">API</a></li>
            <li class="nav-div-li"><a class="nav-bar-a nav-div-a" href="#">System Status</a></li>
        </ul>
    </li>
    
    <li class="nav-bar-div-li">
        <a class="nav-bar-a company-btn" href="#">Company
            <img class="navFifthImg nav-bar-image-text" src="../../icons/chevron-down.png">
        </a>
        <ul class="company-show nav-bar-div-ul nav-bar-ul nav-bar-div-expanded nav-bar-li nav-bar-li-2">
            <li class="nav-div-li"><a class="nav-bar-a-first" href="#">Company</a></li>
            <li class="nav-div-li"><a class="nav-bar-a nav-div-a" href="#">About us</a></li>
            <li class="nav-div-li"><a class="nav-bar-a nav-div-a" href="#">Careers</a></li>
            <li class="nav-div-li"><a class="nav-bar-a nav-div-a" href="#">Contact us</a></li>
            <li class="nav-div-li"><a class="nav-bar-a nav-div-a" href="#">Data Centres</a></li>
            <li class="nav-div-li"><a class="nav-bar-a nav-div-a" href="#">Media Centre</a></li>
            <li class="nav-div-li"><a class="nav-bar-a nav-div-a" href="#">Partners</a></li>
        </ul>
    </li>
    </ul>
    </nav>
</div>
<script src="../src/nav.js"></script>
<script src="../src/nav-change-text.js"></script>
<script src="../src/nav-img-change.js"></script>