<nav class="nav coll container">
    <a href="https://upcloud.com/"><img class="nav-img" src="../images/logo3x.png" alt="UpCloud">  </a>
        <div class="nav-login block-link">
            <p> <a class="nav-login-p block-link-1" href="https://hub.upcloud.com/login">Login <img class="nav-login-img" src="../../icons/arrow-right-thin.png"> </a></p>
            <p> <a class="nav-get-started-p block-link-2" href="https://bit.ly/3CoLCeD">Get started </a></p>
                </div>
                    <div><span class="nav-toggler"> <span class="bg-menu"> </span> <p class="nav-toggler-p">Open main menu </p> </span></div>
                    <ul class="nav-list coll-content">
                        <li class="nav-item"><a class="nav-a" href="https://upcloud.com/solutions">Solutions</a></li>
                        <li class="nav-item"><a class="nav-a" href="https://upcloud.com/products">Products </a></li>
                        <li class="nav-item"><a class="nav-a" href="https://upcloud.com/pricing">Pricing</a></li>
                        <li class="nav-item"><a class="nav-a" href="https://upcloud.com/insights">Insights</a></li>
                        <li class="nav-item"><a class="nav-a" href="https://upcloud.com/resources">Resources</a></li>
                        <li class="nav-item"><a class="nav-a" href="https://upcloud.com/about">Company</a></li>
                    </ul> 
                    </nav>            