*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 62.5%;
    margin: 0;
    --margin-bottom: 2rem;
    --font-size: 2rem;
    --border-radius: 3px;
    --display: flex;
}

.flex{
    display: var(--display);
    justify-content: center;
}

.header{
    font-size: 5rem;
}

.container{
    background: gainsboro;
}

.header-container{
    padding-top: 2rem;
   margin-bottom: 3rem;
}

.currency-input{
   padding: 1rem;
   border-radius: var(--border-radius);
}

.form-container{
  display: var(--display);
  flex-direction: column;
}

.form{
    margin-bottom: 3rem;
}

.input-container{
   margin-bottom: var(--margin-bottom);
}

.label-currency,
.selectCurrency,
.submitBtn,
.currency-input{
   font-size: var(--font-size);
}

.label-currency{
    margin: 0 0.5rem;
    display: var(--display);
    align-items: center;
}

.selectCurrency,
.submitBtn{
    padding: 0.7rem;
   border-radius: var(--border-radius);
}

.submitBtn{
    margin-left: 0.5rem;
    background: white;
}

.submitBtn:hover{
    background: black;
    color: white;
    transition: 0.3s;
}

.result-container{
  padding-bottom: 3rem;
}

.result{
    font-size: 2.8rem;
    background: mediumblue;
    color: white;
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
}