.slider {
  display: flex;
  overflow-x: hidden;
}

.slide {
  background: #000;
  margin-top: 80px;
  margin: 0 50px 0 50px;
}

.img {
  height: 400px;
  width: 600px;
}

.text {
  color: white;
  width: 600px;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.dot {
  margin: 0 15px 0 15px;
  background: gray;
  position: relative;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.dot.active {
  background: black;
}
