body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}

#myH1{
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 50px;
    padding: 30px;
    background-color: white;
}

#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    text-shadow: 2px 2px 2px;
    margin-bottom: 25px;
}

#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 150px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.btn-start{
   background: green;
}

.btn-stop{
    background: red;
}

.btn-reset{
    background: dodgerblue;
 }