* {
    font-size: 62.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    --border-radius: 0.5rem;
    --font-size: 10rem;
}

.clock-container, 
.clock-calendar{
    display: flex;
    justify-content: center;
    font-size: var(--font-size);
    gap: 2rem;
}

.time-container{
    display: flex;
    justify-content: center;
    margin: 2rem 0 2rem 0;
}

.time-div{
    font-size: var(--font-size);
    background: lightgreen;
    border-radius: var(--border-radius);
    padding: 1rem;
}

.time-zone-container{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.form-container{
    font-size: 3.5rem;
}