
*,
:before,
:after{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 62.5%;
   text-decoration: none;
   margin: 0;
}

:root{
   --color-blue: dodgerblue;
   --color-background: azure;
   --color-white: #fff;
   --color-black: #111;
   --color-gray: #555;
   --dispaly: flex;
   --justify-content: center;
}


.text-center{
  display: var(--dispaly);
  justify-content: var(--justify-content);
}

.line-search{
    background:  var(--color-gray);
    height: 2px;
    width: 100%;
    display: var(--dispaly);
    align-self: center;
}

.text-btn{
    padding: 0 2rem;
}

.text-white{
    color: var(--color-white);
}

.header-container{
   background: var(--color-blue);
   padding: 2rem 0;
}

.icon{

}

.display-icon{
  display: flex;
  flex-direction: column;
}

.container-body{
    width: 100%;
}

.body{
    background: var(--color-background);
    display: grid;
    grid-template-columns: 32% 68%;
}

.header{
    font-size: 2.8rem; 
}

.search-header{
    font-size: 2.2rem;
}

.search{
    margin: 2rem;
}

.search-input{
  font-size: 2rem;
  margin: 2rem 0;
  width: 100%;
}

.search-space {
   margin: 1rem 0;
} 

.search-btn{
    border-radius: 5px;
    padding: 1rem;
}

.search-btn-top{
  background: var(--color-blue);
}

.search-btn-bottom{
    background: var(--color-gray);
}
  

.search-btn-text{
    
}

.display{
  margin: 2rem;
}

.display-info{
  background: var(--color-blue);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 80% 20%;
}

.text-info{
 line-height: 2;
}

.text{
    font-size: 1.8rem;
}

.info-header{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.display-info-container{
    padding: 2rem;
}

.forecast-container{
    display: var(--dispaly);
    gap: 1rem;
}

.forecast-body{
  background: var(--color-gray);
  border-radius: 5px;
  padding: 1.5rem;
}

.forecast-header-text{
    font-size: 2.5rem;
}

.forecast-header{
    margin: 2rem 0;
}

.forecast-body-header{
    font-size: 2.3rem;
}