:root{
    --color-primary: #2b30ff;
    --color-black: #000;
    --color-background: #fafafc; 
    --color-white: #fff;
    --color-arrows: #adadad;
    --color-darkgrey: #191a1b;
    --color-uparrow: #f5f5f5;
    --color-menu: #e2e2ee;
    --list-style-type: none;
    --align-items: center;
    --overflow: hidden;
    --text-decoration: none;
    --line-height: 1.7;
    --max-width: 65ch;
}

/*Typography*/

html{
    font-size: 62.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    font-size: 3.4rem;
}
h2{
    font-size: 5rem;
}
h3{
    font-size: 1.8rem;
}
p, li{
    font-size: 1.6rem;
    
}
*, :after, :before{
    box-sizing: border-box;
}
/*Nav Bar Up*/

.nav-up{
    background: var(--color-black);
    color: var(--color-white);
}

.nav-up-ol{
    list-style-type: var(--list-style-type);
    display: flex;
    justify-content: flex-start;
    padding: 1px 15px;
    align-items: var(--align-items);
    white-space: nowrap;
    overflow: var(--overflow);
}

.nav-up-li{
    padding: 1.2rem;
    font-size: 1.25rem;
}

.nav-up-link{
    color: var(--color-white);
   text-decoration: var(--text-decoration);
}

.nav-up-link:hover{
    text-decoration: underline;
}

@media screen and (min-width: 605px){
    .nav-up-ol{
        justify-content: flex-end;
        padding: 1.5px 4.5rem;

    }
    .nav-up-li{
        font-size: 1.45rem;
        padding: 1.5rem;
    }
}

/*Sprites*/

.bg-arrow_left {
    width: 24px; height: 24px;
    background: url('../images/css_sprites.png') -66px -66px;
    display: inline-flex;
}

.bg-arrow_right_thin {
    width: 24px; height: 24px;
    background: url('../images/css_sprites.png') -16px -11px;
    display: inline-flex;
}

.bg-arrow_top_right {
    width: 14.5px; height: 14.5px ;
    background: url('../images/css_sprites.png') -129px -13px;
    display: inline-flex;
    margin-left: 5px;
}

.bg-arrow_up {
    width: 24px; height: 24px;
    background: url('../images/css_sprites.png') -122px -54px;
    display: inline-flex;
}

.bg-check_decagram {
    width: 24px; height: 24px;
    background: url('../images/css_sprites.png') -10px -122px;
    display: inline-flex;
}

.bg-cloud_check_outline {
    width: 24px; height: 24px;
    background: url('../images/css_sprites.png') -54px -122px;
    display: inline-flex;
}

.bg-connection {
    width: 24px; height: 24px;
    background: url('../images/css_sprites.png') -98px -122px;
    display: inline-flex;
}

.bg-facebook {
    width: 24px; height: 24px;
    background: url('../images/css_sprites.png') -166px -10px;
    display: inline-flex;
}

.bg-github {
    width: 24px; height: 24px;
    background: url('../images/css_sprites.png') -166px -54px;
    display: inline-flex;
}

.bg-instagram {
    width: 24px; height: 24px;
    background: url('../images/css_sprites.png') -166px -98px;
    display: inline-flex;
}

.bg-linkedin {
    width: 24px; height: 24px;
    background: url('../images/css_sprites.png') -10px -166px;
    display: inline-flex;
}

.bg-menu {
    width: 36px; height: 36px;
    background: url('../images/css_sprites.png') -66px -10px;
    display: inline-flex;
}

.bg-twitter {
    width: 24px; height: 24px;
    background: url('../images/css_sprites.png') -54px -166px;
    display: inline-flex;
}

.bg-youtube {
    width: 24px; height: 24px;
    background: url('../images/css_sprites.png') -10px -66px;
    display: inline-flex;
}

/*Container*/

.container{
    margin: 0 auto;
    max-width: 1420px;   
}

.container-background{
    background: var(--color-background);
}
/*Collapsibles*/

.menu-coll{
    background: url('../images/css_sprites.png') -10px -10px ;
}

.coll-header{
    display: flex;
    justify-content: space-between;
}
.coll-heading{
    margin-top: 0;
    font-size: 3rem;
}

.coll-content{
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s;
    opacity: 0;
}

.coll-expanded .coll-content{
max-height: 100vh;
opacity: 1;
}

/*Nav*/

.nav{
display: flex;
justify-content: space-between;
align-self: center !important;
padding: 0.9rem 1.2rem;
flex-wrap: wrap;
}

.nav-list{
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-item{
    border-top: 1px solid var(--color-menu);
    padding: 2rem;
    transition: color 0.3s;
    font-weight: bold;
}

.nav-item:hover{
color: var(--color-primary);
}

.nav-a{
    color: var(--color-black);
    text-decoration: var(--text-decoration);
}

.nav-login-p{
    color: var(--color-black);
    border-color: var(--color-black);
    bottom: 20px;
    position: relative;
}

.nav-get-started-p{
color:var(--color-white);
background: var(--color-primary);
border-color: var(--color-primary);
}

.nav-login-p, .nav-get-started-p{
    font-size: 1.45rem;
    padding: 0.65rem;
    margin: 10px;
}

.nav-login-img{
    position: relative;
        top: 12px;
}

.nav-login-p:hover{
color: var(--color-white);
background: var(--color-black);
}

.nav-login-p:hover> .nav-login-img{
    content: url(../images/arrow-right-thin-1.png);
}

.nav-get-started-p:hover{
    background: var(--color-black);
    border-color: var(--color-black);
}

.nav-toggler-p {
display: none;
}

.nav-img{
    bottom: 5px;
    position: relative;
}

@media screen and (min-width: 1165px){
.nav-toggler{
    display: none;
}
.nav-list{
    width: auto;
    display: flex;
    max-height: 100%;
    opacity: 1;
}
.nav-item{
border: 0;
font-size: 1.45rem;
}

}

@media screen and (min-width: 1270px){
    .nav-img{
        content: url(../images/logo2x.png);
        }

        .nav-login-p, .nav-get-started-p{
            font-size: 1.6rem;
            padding: 1.1rem;
        }
        .nav{
        padding: 1.75rem;
        }
        .nav-item{
            font-size: 1.6rem;
        }
}

@media screen and (min-width: 600px) and (max-width: 1270px){
    .nav-toggler-p {
        display: inline-flex;
        bottom: 11px;
        position: relative;
        font-weight: 600;
        }
}

@media screen and (max-width: 600px){
    .nav-login-p, .nav-get-started-p{
        font-size: 1.25rem;
    }

    .nav{
        padding: 0 1rem;
    }

   .nav-login-img{
    content: url(../images/arrow-right-thin-2.png);
    transition: .5s;
   }

   .nav-login-p:hover> .nav-login-img{
    content: url(../images/arrow-right-thin-3.png);
    transition: .5s;
}

.nav-login-p{
    bottom: 8px;
    position: relative;
}

.nav-login-img{
    position: relative;
        top: 8px;
}

.nav-img{
    position: relative;
    top: 5px;
}
}

@media screen and (max-width: 390px){
.nav-get-started-p{
    display: none;
}
}

/*Header*/

.header-p-1{
    color: var(--color-white);
    background: var(--color-primary);
    border-color: var(--color-primary) !important;
    margin-left: 0 !important;
}

.header-p-2{
    color: var(--color-black);
    background: var(--color-white);
    border-color: var(--color-black);
}
.header-p-1:hover{
color: var(--color-white);
background: var(--color-black);
border-color: var(--color-black) !important;
}

.header-p-2:hover{
    background: var(--color-black);
    border-color: var(--color-black);
    color: var(--color-white);
}

.header-text{
    font-size: 1.7rem;
    max-width: var(--max-width);
}

.header-p-1, .header-p-2{
    font-size: 1.55rem;
    margin: 0.8rem;
    padding: 0.8rem;
}

.header-h1{
   margin-bottom: 2.7rem;
   margin-top: 0;
}

.header-text-1{
    margin: 2.9rem 0;
}

.header-text-2{
    margin-top: 2.9rem;
    margin-bottom: 0;
}

.header-links{
    margin-top: 4rem;
    margin-bottom: 0;
    transition: .4s;
}

.header{
    padding: 10.4rem 2rem;
    line-height: var(--line-height);
}

.block-link-img{
    max-width: 100%;
    height: auto;
    width: auto;
}

.header-right{
    padding: 7.2rem 1rem;
    display: flex;
    justify-content: flex-end;
}

@media screen and (min-width: 1130px){
    .header{  
    display: flex;
    padding: 10.4rem 6.4rem;
    }
    .header-right, .header-left{
        flex: 50%;
    }

    .header-right{
padding:0 0 0 3rem;
justify-content: center;
    }

    .header-left{
padding-right: 3rem;
    }
}

@media screen and (min-width: 1200px){
    .header-h1{
        font-size: 5rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 1200px){
    .header-h1{
        font-size: 3.9rem;
    }
}

@media screen and (max-width: 600px){
    .header-text{
        font-size: 1.57rem;
    }
}

@media screen and (min-width: 600px){
    .header-p-1, .header-p-2{
        font-size: 2rem;
        margin: 2rem;
        padding: 1.7rem 2.7rem;
    }
}

@media screen and (min-width: 1300px){
    .header-h1{
        font-size: 6.15rem;
    }
}

@media screen and (max-width: 768px){
    .header{
        padding: 4rem 2rem;
    }
}

@media screen and (max-width: 320px){
    .block-link{
        flex-wrap: wrap;
    }
.header-p-2{
margin-left: 0;
}
}


/*Block Links*/

.block-link{
    display: flex;
    align-content: center;
    }
    .block-link-1, .block-link-2{
        text-decoration: var(--text-decoration);
        transition: .3s;
        border: 1.5px;
    border-style: solid;
    }

/*Images*/

.img{
    max-width: 100%;
    height: auto;
    width: auto;
    }

/*Columns*/

@media screen and (min-width: 768px){
    .column{  
    display: flex;
    }
    .column-right, .column-left{
        flex: 50%;
    }
}

/*Performance*/

    .performance{  
    display: flex;
    margin-bottom: 3rem;
    }

.performance-1, .performance-2{
    flex: 50%;
}

.performance-1{
    padding-right: 2rem;
}

.performance-p-1{
    font-size: 2.4rem;
    margin-top: 0;
}

.performance-2{
    padding-left: 2rem;
    display: flex;
        align-items: center;
        justify-content: flex-end;
}

    .performance-p-2{
        font-size: 1.6rem;
    }

    .container-performance{
        padding: 4rem 2rem;
    }
    
    @media screen and (min-width:600px){
        .performance{  
            margin-bottom: 8rem;
    }
    .performance-p-1{
        font-size: 5rem;
            }
        
        .performance-p-2{
            font-size: 1.7rem;
            }
}

@media screen and (max-width:768px){
    .performance-2{
        display: none;
    }

}

@media screen and (min-width:600px) and (max-width: 768px){
    .container-performance{
        padding: 5rem 2rem;
    }
}

@media screen and (min-width:768px) and (max-width: 1024px){
    .performance-1{
        min-width: 512px;
    }
    .container-performance{
        padding: 10.4rem 2rem;
    }
}

@media screen and (min-width:1000px){
    .img-performance{
   max-height: 80%;
   position: static;
    }
}

@media screen and (min-width:1024px){
    .container-performance{
        padding: 10.4rem 6.4rem;
    }
}

/*Grid*/

.block-container{
    padding: 3rem 2rem;
}

.grid-1, .grid-2, .grid-3{
    background: var(--color-background);
    padding: 3rem 1.6rem;
    margin-bottom: 1.5rem;
    border-radius: 6px;
}

.grid-p{
    font-size: 1.45rem;
}


.grid-heading{
    margin-top: 2.3rem;
    margin-bottom: 3rem;
}

@media screen and (min-width: 600px){
    .grid{
        display: flex;
        flex-direction: row;
  flex-wrap: wrap;
    }

    .grid-1, .grid-2, .grid-3{
flex: 33%;
    }
    .grid-p{
        font-size: 1.6rem;
    }
    .grid-heading{
        font-size: 2rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 850px){
    .grid>div {
        flex: 1 0 50%;
      }
      
      .grid>div:first-child {
        flex: 1 0 50%;
      }

      .grid>div:last-child{
        flex: 0 1 50%;
      }
      .grid-1{
        border-right: 1.1rem solid var(--color-white);
      }

      .grid-2{
        border-left: 1.1rem solid var(--color-white);
      }
      .grid-3{
        border-top: 1.1rem solid var(--color-white);
        border-right: 1.1rem solid white;
      }
}


@media screen and (min-width: 1130px){
.block-container{
    padding: 10.4rem 6.4rem;
}
}

@media screen and (min-width: 850px) and (max-width: 1200px){
    .grid-1{
        border-right: 1.5rem solid var(--color-white);
      }
    
      .grid-2{
        border-left: 1.5rem solid white;
        border-right: 1.5rem solid var(--color-white);
      }
      .grid-3{
        border-left: 1.5rem solid white;
      }
}

@media screen and (min-width: 1200px){
    .grid-1{
        border-right: 2.5rem solid var(--color-white);
      }
    
      .grid-2{
        border-left: 2.5rem solid white;
        border-right: 2.5rem solid var(--color-white);
      }
      .grid-3{
        border-left: 2.5rem solid white;
      }
}

@media screen and (min-width: 768px){
    .grid-1, .grid-2, .grid-3{
        padding: 5.2rem 3.2rem;
}
}

@media screen and (min-width: 768px) and (max-width: 1130px){
    .block-container{
        padding: 10.4rem 2rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px){
    .block-container{
        padding: 4rem 2rem;
    }
}

/*Blocks*/

.blocks-h3{
    display: flex;
    margin-bottom: 4rem;
    justify-content: space-around;
    min-width: 560px;
}

.blocks-h3-1, .blocks-h3-2, .blocks-h3-3{
    font-size: 1.8rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.block-h2{
    font-size: 2.4rem;
    margin-bottom: 2.7rem;
    margin-top: 0;
}

.block-p{
    font-size: 1.4rem;
    margin-bottom: 1.8rem;
    margin-top: 0;
}

.blocks-heading{
    margin-bottom: 4rem;
}

.block-h3-a1, .block-h3-a2, .block-h3-a3{
    color: var(--color-black);
    text-decoration: var(--text-decoration);
}

.block-h3-a1:hover, .block-h3-a2:hover, .block-h3-a3:hover{
    color: var(--color-primary);
    text-decoration: underline;
}

@media screen and (min-width: 600px){
    .blocks-h3-1, .blocks-h3-2, .blocks-h3-3{
        font-size: 2rem;
    }

    .block-h2{
        font-size: 5.5rem;
        margin-bottom: 4rem;
    }

    .block-p{
        font-size: 1.6rem;
    }

    .blocks-heading{
        margin-bottom: 9rem;
    }
}

@media screen and (min-width: 768px){
    .blocks-h3{
        margin-bottom: 0;
    }
}

@media screen and (max-width: 560px){
    .blocks-h3{
        overflow: scroll;
    }
}

@media screen and (max-width: 560px){
    .block-container{
        overflow: scroll;
    }
}

/*Center*/

.center-a{
    color: var(--color-black);
    text-decoration: var(--text-decoration);
    font-size: 1.5rem;
    font-weight: 600;
    align-items: center;
}

.center-a:hover{
    color: var(--color-primary);
}

.center-h3{
    font-size: 2.8rem;
    margin-bottom: 2.7rem;
    margin-top: 0;
}

.center-p{
    font-size: 1.4rem;
    margin: 2.9rem 0;
    max-width: var(--max-width);
    line-height: var(--line-height);
}

.img-center{
min-width: 100px;
margin-bottom: 10rem;
}


@media screen and (min-width:600px) and (max-width: 1200px){
    .center-h3{
        font-size: 3.2rem;
    }
}

@media screen and (min-width: 1200px){
    .center-h3{
        font-size: 4rem;
    }

    .center-right{
        padding-right: 5rem;
    }

    .center-left{
padding-left: 5rem;
    }
    .center-container{
        padding: 10rem 6rem;
    }
}

@media screen and (min-width:600px){
    .center-p{
        font-size: 1.6rem;
    }
    .center-a{
        font-size: 1.7rem;
    }

    .center-right{
align-self: center;
    }
}

@media screen and (min-width:768px) and (max-width: 1200px){
    .center-right{
        padding-right: 2rem;
    }

    .center-left{
padding-left: 2rem;
    }
}

@media screen and (min-width:768px){
    .img-center{
        margin-bottom: 0;
    }
    .center-container{
        padding: 3rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px){
    .center-a{
        padding-bottom: 5rem;
    }
}

/*Case studies*/

.img-case{
    border-radius: 50%;
    border: 1px solid var(--color-black);
}

.case-h2{
    color: var(--color-white);
    font-size: 2.4rem;
    margin-bottom: 2.7rem;
    margin-top: 0;
}

.case-container{
    background: var(--color-black);
}

.case-div-1, .case-div-2{
    background: var(--color-white);
    border-radius: 5px;
    flex: 50%;
}

.case-a{
   color: var(--color-white);
   font-size: 1.5rem;
   text-decoration: var(--text-decoration);
   padding-right: 2rem;
}

.img-case-a{
    position: relative;
    top: 12px;
}

.case-a:hover{
    color: var(--color-primary);
    transition: .3s;
}

.case-div-h3-1, .case-div-h3-2{
    font-size: 2.1rem;
}


.case-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 6.5rem;
}

.case-div-h2{
    margin-bottom: 6.7rem;
}

.case-div-1, .case-div-2{
    display: block;
}

.case-div-1, .case-div-2{
    padding: 3rem;
}


.case-arrow-1, .case-arrow-2{
    border-radius: 50%;
    border: 1px solid var(--color-primary);
}

.case-arrow-1:hover, .case-arrow-2:hover{
    background: var(--color-primary);
    transition: .3s;
}

.case-div-h3-1, .case-div-h3-2{
    margin-bottom: 2rem;
    margin-top: 0;
}

.case-div-p-1, .case-div-p-2{
font-size: 1.8rem;
margin: 2.9rem 0;
}

.case-div-1-img, .case-div-2-img{
    flex: 20% ;
 }

.case-div-a1 , .case-div-a2{
    color: var(--color-black);
    text-decoration: var(--text-decoration);
}

.case-arrow-1{
margin-right: 0.65rem;
}

.case-arrow-2{
    margin-left: 0.65rem;
}

.case-container-1{
    padding: 4rem 2rem;;
}

.case-div-a1{
    min-width: 100%;
}

@media screen and (max-width: 756px){
    .case-div-2{
        display: none;
    }
}

@media screen and (min-width: 600px){
    .case-div-h3-1, .case-div-h3-2{
        font-size: 2.4rem;
    }

    .case-div-p-1, .case-div-p-2{
        font-size: 2rem;
       }

        .case-div{
            overflow: hidden;
            display: flex;
        }
        .case-h2{
            font-size: 5.5rem;
        }
        .case-a{
         font-size: 1.7rem;
        }
       .case-div-h2{
        margin-bottom: 13rem;
       }

       .case-h2{
        margin-bottom: 4rem;
}
}

@media screen and (min-width: 756px){
    .case-div-1{
        padding: 5rem;
    }
    .case-div-2{
        padding: 5rem;
    }
    .case-div-a1, .case-div-a2{
        min-width: 620px;
        display: flex;
        flex: 50%;
    }

    .case-div-a1{
        padding-right: 4rem ;
    }
    .case-div-a2{
        padding-left: 4rem ;
    }
    .case-div-p-1, .case-div-p-2{
        max-width: 50ch;
}

}

@media screen and (min-width: 1024px){
    .case-div-1, .case-div-2{
        display: flex;
    }

    .case-div-1-img, .case-div-2-img{
padding-right: 1.5rem;
    }

    .case-div-1-text, .case-div-2-text{
padding-left: 1.5rem;
    }
    .case-div-a2{
        max-height: 280px;
    }
}

@media screen and (min-width: 1024px){
    .case-container-1{
        padding: 10.4rem 0 10.4rem 6.4rem;
    }
}

@media screen and (min-width: 1420px){
    .case-container-1{
        padding: 10.4rem 6.4rem;
    }
}

@media screen and (max-width: 340px){
    .case-footer{
       display: flex;
    }
    .case-a{
        overflow-wrap: break-word;
    }
    .case-arrow-img{
        position: static;
        flex: 200px;
    }
}

@media screen and (max-width: 260px){
    .case-footer{
        display: block;
    }
    .case-container{
        overflow: scroll;
    }
}

@media screen and (min-width:600px) and (max-width: 1024px){
    .case-div-a2{
        max-height: 360px;
    }
}

@media screen and (min-width: 756px) and (max-width: 1024px){
    .case-container-1{
        padding: 10.4rem 0 10.4rem 2rem;
    }
}

/*Block-closer*/

.block-closer-container{
    background: var(--color-primary);
}

.block-closer-h3, .block-closer-p{
color: var(--color-white);
}

.closer-link-1, .closer-link-2{
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-white);
    padding: 0.8rem 1.6rem;
}

.closer-link-1{
background: var(--color-white);
color: var(--color-black);
margin-right: 0.5rem;
}

.closer-link-2{
    background: var(--color-primary);
    color: var(--color-white);
    margin-left: 0.5rem;
}

.closer-link-1:hover, .closer-link-2:hover{
    border-color: var(--color-black);
    background: var(--color-black);
}

.closer-link-1:hover{
    color: var(--color-white);
}

.block-closer-h3{
    font-size: 2.8rem;
    margin-bottom: 2.7rem;
    margin-top: 0;
}

.block-closer-p{
    font-size: 1.8rem;
    margin-top: 2.9rem;
    margin-bottom: 0;
}

.closer-link-p-1, .closer-link-p-2{
    font-size: 1.4rem;
white-space: nowrap;
}

.block-closer{
    padding: 4rem 2rem;
}

.closer-2{
    align-items: center;
    margin-top: 3.5rem;
    margin-bottom: 0.5rem;
}


@media screen and (min-width: 768px){
    .block-closer{
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 600px){
    .block-closer-h3{
        font-size: 3.2rem;
    }
    .block-closer-p{
        font-size: 2rem;
    }
    .closer-link-p-1, .closer-link-p-2{
        font-size: 2rem;
    }
    .closer-link-1, .closer-link-2{
        padding: 1.8rem 3.4rem;
    }
    .block-closer{
        padding: 5rem 2rem;
    }
}

@media screen and (min-width: 1200px){
    .block-closer-h3{
        font-size: 4rem;
    }
}

@media screen and (min-width: 1024px){
    .block-closer{
        padding: 10.4rem 6.4rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .block-closer{
        padding: 10.4rem 2rem;
    }
}

@media screen and (min-width: 1024px){
    .closer-1{
padding-right: 4rem;
    }
    .closer-2{
padding-left: 4rem;
    }
}

@media screen and (min-width: 768px){
    .closer-2{
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1000px){
    .closer-1{
margin-right: 1.5rem;
    }
    .closer-2{
margin-left: 1.5rem;
    }
}
@media screen and (max-width:180px){
    .block-closer{
        overflow: scroll;
    }
}

/*Footer*/

.footer-container{
    grid-template-columns: 50% 50%;
    line-height: 1.5;
    gap: 1.5rem;
    padding: 4rem 2rem;
    width: 100%;
    display: grid;
}

.footer-text{
    color: var(--color-white);
    text-decoration: var(--text-decoration);
    list-style-type: var(--list-style-type);
}

.footer-container-1{
    background: var(--color-black);
}

.footer-text:hover{
    color: var(--color-primary);
}

.footer-text-heading{
    font-size: 1.6rem;
}

.footer-text-p{
    font-size: 1.4rem;
}

.footer-h4{
    margin-bottom: 1.5rem;
    margin-top: 0;
    font-weight: bold;
}


@media screen and (min-width: 768px) and (max-width: 1200px){
    .footer-container{
        grid-template-columns: repeat(4, 25fr) 0;
    }
    .footer-div-5{
grid-row: 2;
    }
    .footer-container{
        gap: 1rem;
    }
}

@media screen and (min-width: 1200px){
    .footer-container{
        display: flex;
    }
}

@media screen and (min-width: 600px){
    .footer-text-software{
        max-width: 20ch;
    }

    .footer-text-heading{
        font-size: 1.8rem;
    }
    .footer-text-p{
        font-size: 1.6rem ;
    }
}

@media screen and (max-width: 300px){
    .footer-container{
        overflow: scroll;
    }
}

@media screen and (max-width: 768px){
    .footer-div-ul{
        padding: 0;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px){
    .footer-container{
        padding: 5rem 2rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .footer-container{
        padding: 10.4rem 2rem;
    }
}

@media screen and (min-width: 1024px){
    .footer-container{
        padding: 13rem 6.4rem 11rem 6.4rem;
    }
}

@media screen and (min-width: 1420px){
    .footer-container{
        gap: 3rem;
    }
}

/*Footer Down*/

.footer-down{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    padding: 3rem 2rem;
}

.footer-down-p{
    color: var(--color-white);
    display: inline-flex;
    font-size: 1.4rem;
}

.footer-down-anchor{
    text-decoration: var(--text-decoration);
}

.footer-down-anchor:hover{
    text-decoration: underline;
    text-decoration-color: var(--color-white);
}

.footer-down-div-img{
    align-self: center;

}

.footer-down-container{
    background: var(--color-darkgrey);
}

.footer-down-p-1{
    margin-right: 1.2rem;
}

.footer-down-p-2, .footer-down-fb, .footer-down-ig, .footer-down-linkedin, .footer-down-twitter{
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

.footer-down-p-3, .footer-down-yt{
    margin-left: 1.2rem;
}

.footer-down-github{
    margin-right: 1rem;
}

.footer-down-fb, .footer-down-ig, .footer-down-linkedin, .footer-down-twitter{
    margin-left: 1rem;
    margin-right: 1rem;
}

.footer-down-yt{
    margin-left: 1rem;
}

.footer-down-div-1{
    margin-bottom: 2rem;
}

@media screen and (min-width: 900px){
    .footer-down{
        display: flex;
        justify-content: space-between;
    }
    .footer-down-div-1{
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1024px){
    .footer-down{
        padding: 3rem 6.4rem;
    }
}

@media screen and (min-width: 600px){
    .footer-down-p{
        font-size: 1.6rem;
    }
    .footer-down-github{
        content: url(../images/github.png);
    }
    .footer-down-fb{
        content: url(../images/facebook.png);
    }
    .footer-down-ig{
        content: url(../images/instagram.png);
    }
    .footer-down-linkedin{
        content: url(../images/linkedin.png);
    }
    .footer-down-twitter{
        content: url(../images/twitter.png);
    }
    .footer-down-yt{
        content: url(../images/youtube.png);
    }
}

@media screen and (max-width: 380px){
    .footer-down-div-img{
        min-width: 280vh;
    }
}

@media screen and (max-width: 300px){
    .footer-down-p-1{
        line-height: 2;
    }
}

@media screen and (max-width: 235px){
    .footer-down-p-2{
        margin-left: 0;
    }
    .footer-down-p-3{
        margin-left: 0;
    }
}

@media screen and (min-width: 385px) and (max-width:495px){
    .footer-down-p-3{
        margin-left: 0;
    }
}

@media screen and (min-width: 235px) and (max-width:385px){
    .footer-down-p-2{
        margin-left: 0;
    }
}
