*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 62.5%;
    margin: 0;
}

.flex{
    display: flex;
    justify-content: center;
}

.container{
    margin-top: 2rem;
}

.header-container{
   background: mediumblue;
   padding: 2rem;
   border-radius: 3px;
}

.header{
  font-size: 3rem;
  color: white;
}


.option{
   background: dodgerblue;
   color: white;
   margin: 1rem 0;
   padding: 1rem;
   border-radius: 3px;
}

.input{
    font-size: 3rem;
    margin-right: 1rem;
}

.form-label{
    font-size: 3rem;
}

.icon{
    height: 3rem;
    width: 3rem;
    position: relative;
    bottom: -4px;
    margin-right: 1rem;
}

.option.rightAnswer{
   background: green;
}
.option.wrongAnswer{
   background: red;
}

.input.displayNone{
    display: none ;
}
.icon.display{
    display: none;
}